.center {
  margin: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

input#darkModeToggle {
  position: relative;
  width: 60px;
  height: 30px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
}

input:checked#darkModeToggle {
  background: #33363a;
}

input#darkModeToggle:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: url("../../assets/earth.png") no-repeat;
  background-size: 30px 30px;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

input:checked#darkModeToggle:before {
  left: 30px;
  background: url("../../assets/moon.png") no-repeat;
  background-size: 30px 30px;
}
