.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  margin-left: 142px;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

@media (max-width: 1023px) {
    .container {
        margin: 60px auto 0px;
    }
}

@media (max-width: 768px) {
  .container section {
    grid-template-columns: 1fr;
    gap: 3.25rem;
  }
}
